<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <a href="/home" <%- title === 'Home' ? 'class="active"' : '' %> >Home</a>
      <a href="/recipes" <%- title === 'All Recipes' ? 'class="active"' : '' %> >All Recipes</a>
      <% if(user) { %>   
        <a href="/ingredients/new" <%- title === 'Add Ingredient' ? 'class="active"' : '' %> >Add Ingredient</a>
        <a href="/recipes/new" <%- title === 'Add Recipe' ? 'class="active"' : '' %> >Add Recipe</a>
        <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google" class="login">Log IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
            
        <% } %>
    </nav>
<main>
    <h1><%= title %> </h1>
